<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="heroes.css" rel="stylesheet">
</head>

<body>



    <main>

        <div class="container">
            <div class="px-4 py-5 my-5 text-center bg-light">
                <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
                <h1 class="display-5 fw-bold">Compare films or shows</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Search for either two movie or TV shows to find the similarities in their cast!
                    </p>
                    <!-- Search bars -->
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <div class="d-grid justify-content-sm-center">
                            <form action="/get_results" method="post">
                                <input type="text" name="search_one" placeholder="movie/show #1">
                                <input type="text" name="search_two" placeholder="movie/show #2">
                                <input type="submit" value="search" class="btn btn-primary px-4 gap-3"></input>
                            </form>
                        </div>
                    </div>
                    <div>
                        {% with messages = get_flashed_messages() %}
                        <!-- declare a variable called messages -->
                        {% if messages %}
                        <!-- check if there are any messages -->
                        {% for message in messages %}
                        <!-- loop through the messages -->
                        <p class="text-danger">{{message}}</p> <!-- display each message in a paragraph tag -->
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <!-- <a href="/login-register" class="btn btn-secondary">Login / Register</a> -->
                    </div>
                </div>
            </div>
    </main>

</html>